@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
} 
.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    width: 100%;
    background: #3C1874;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px 0 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    z-index: 100;
  }
  
  .nav-items .logo a{
    color: #DCE1E3;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .nav-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
  }
  .nav-items ul li {
    margin: 0 5px;
  }
  
  .nav-items ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .nav-items ul li a.active,
  .nav-items ul li a:hover {
    color: #111;
    background: #fff;
  }
  
  .nav-items .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  
  input[type=checkbox] {
    display: none;
  }
body{
    background-color: #efefef;
}
main
{
    position: relative;
    top: 80px;
    .sections{
        width: 100%; 
        #home{
           
            height: calc(100vh - 80px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .main-img-animation{
                justify-content: center;
                align-items: center;
                display: flex;
                
                .bg-img{
                    margin-right: 50px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .main-company{
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;    
                .box{
                    max-width: 500px;
                    margin-left: 50px;
                    .box-row{
                        display: flex;
                        margin-bottom: 10px;
                        .small-box{
                            width:15px;
                            height: 15px;
                            margin-right: 10px;
                            background-color: blueviolet;
                        }
                    }
                    
                }
                h1{
                    font-size: 40px;
                    font-style: normal;
                    line-height: 70px;
                    font-weight: bold;
                    text-transform: capitalize;
                    color: #767ae4;
                    letter-spacing: 0;
                }
                #btn{
                    
                    margin-top: 30px;
                    outline: none;
                    border: none;
                    a{
                        padding: 17px 15px;
                        background-color:transparent;
                        text-align: center;
                        color: #767ae4;
                        text-decoration: none;
                        border: 1px solid #767ae4;
                        &:hover{
                            color: rgb(171, 112, 226);
                        }
                    }  
                }
            }
        }
        .about{
            padding: 90px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .left-col{
                flex-basis: 50%;
                .about-box{
                    margin-left: 60px;
                    max-width: 500px;
                    text-align: justify;
                    h2{
                        font-size: 40px;
                        color:blueviolet;
                        font-weight: 500;
                    }
                    .box-row{
                        display: flex;
                        margin-bottom: 10px;
                        .small-box{
                            width:15px;
                            height: 15px;
                            margin-right: 10px;
                            background-color: blueviolet;
                        }
                    }
                }
                #btn{
                    
                    margin-top: 30px;
                    outline: none;
                    border: none;
                    a{
                        padding: 17px 15px;
                        background-color:transparent;
                        text-align: center;
                        color: blueviolet;
                        text-decoration: none;
                        border: 1px solid blueviolet;
                        &:hover{
                            color: rgb(171, 112, 226);
                        }
                    }  
                }
            }
            .right-col{
                flex-basis: 50%;
                padding-right: 50px;
                img{
                    width: 100%;
                    height: 600px;
                }
            }
        }
        .services{
            
            .sv{
                .sv-title{
                    text-align: center;
                    font-size: 30px;
                    font-weight: 500;
                    padding: 20px;
                    color: #004E7C;
                    h1 {
                        span{
                            border-bottom: 2px solid #004E7C;
                        }
                        
                    }
                }
                .s-box-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                .s-box img{
                    height: 90px;
                }
                .s-box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius:10px ;
                    width: 300px;
                    height: 150px;
                    padding: 20px 25px;
                    box-sizing: border-box;
                    margin: 30px;
                    position: relative;
                    background-color: #fff;
                }
                .s-box h1{
                    color: #576975;
                    letter-spacing: 1px;
                    font-size: 1.5rem;
                    margin-bottom: 8px;
                }
                .s-box:hover h1{
                    color: black;
                }
                .s-box:hover{
                    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
                    transition: all ease 0.3s;
                   }
                   .ser-btn:hover{
                       background-color: #8a2be2;
                       border: 1px  solid #8a2be2;
                       color: #fff;
                       transition: all ease 0.3s;
                   }
                   .bar{
                       width: 100px;
                       height: 6px;
                       position: absolute;
                       left: 50%;
                       top: 0;
                       transform: translateX(-50%);
                       background-color: #8a2be2;
                       border-radius: 0px 0px 10px 10px;
                       display: none;
                       animation: bar 0.5s;
                   }
                   .bar1{
                       width: 100px;
                       height: 6px;
                       position: absolute;
                       left: 50%;
                       bottom: 0;
                       transform: translateX(-50%);
                       background-color: #8a2be2;
                       border-radius: 10px 10px 0px 0px;
                       display: none;
                       animation: bar 0.5s;
                   }
                   
                   .s-box:hover .bar,.s-box:hover .bar1{
                       display: block;
                   }
                .sv-read-more{
                   margin: 20px 0;
                    display: flex;
                    justify-content:center;
                    span{
                        padding: 20px;
                        border: 1px solid blueviolet;
                        a{
                             color: blueviolet;
                            text-decoration: none;
                            &:hover{
                                color: rgb(171, 112, 226);
                            }
                        }
                    }
                }
            }
        }  
    }
    
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
#myBtn {
    display: none;
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
    filter: opacity(0.5);
    outline: none;
}
.footer-dark {
    padding:30px 0;
    color:#f0f9ff;
    background-color:#3C1874;
}
.footer-dark h3 {
margin-top:0;
margin-bottom:12px;
font-weight:bold;
font-size:16px;
}
.footer-dark ul {
padding:0;
list-style:none;
line-height:1.6;
font-size:14px;
margin-bottom:0;
}
.footer-dark ul a {
color:inherit;
text-decoration:none;
opacity:0.6;
}
.footer-dark ul a:hover {
opacity:0.8;
}
.footer-dark .item.social{
padding-top:30px;
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}
.footer-dark .item.social {
text-align:center;
}  
.footer-dark .item.social > a {
font-size:20px;
width:36px;
height:36px;
line-height:36px;
display:inline-block;
text-align:center;
border-radius:50%;
box-shadow:0 0 0 1px rgba(255,255,255,0.4);
margin:0 8px;
color:#fff;
opacity:0.75;
}
.footer-dark .item.social > a:hover {
opacity:0.9;
}
.footer-dark .copyright {
text-align:center;
padding-top:24px;
opacity:0.3;
font-size:13px;
margin-bottom:0;
}       
@keyframes bar{
    0%{
        width: 0px;
    }
    100%{
        width: 100px;
    }
}
.footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
}
.footer-dark .item.text {
    margin-bottom:0;
}
@media (max-width: 1000px) {
.nav-items {
    padding: 0 40px 0 50px;
}
.footer-dark .item.social {
    text-align:center;
    margin-top:20px;
}
}
@media (max-width: 920px) 
{
    .nav-items .menu-btn i {
    display: block;
    }
    #click:checked ~ .menu-btn i:before {
    content: "ÔÄç";
    }
    .nav-items {
    padding: 0 20px 0 20px;
    }
    .nav-items .logo a{
    font-size: 25px;
    }
    .nav-items ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #3C1874;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }
    #click:checked ~ ul {
    left: 0;
    }
    .nav-items ul li {
    width: 100%;
    margin: 40px 0;
    }
    .nav-items ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a {
    margin-left: 0px;
    }
    .nav-items ul li a.active,
    .nav-items ul li a:hover {
    background: none;
    color: cyan;
    }
    .s-box-container{
    flex-wrap: wrap;
    }
    .services{
    height: auto;
    }
    .s-heading{
    margin: 15px;
    }
    .s-box{
    flex-grow: 1;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    }
}
@media (max-width:767px) {
    .contact{
        flex-direction: column-reverse;
        .left-col,.right-col{
            flex-basis: 100%!important;
        }
        .left-col{
            .cols{
                margin: 20px 0;
            }
        }
    }
    main
    {
    .sections
    {
        #home
        {
            padding-top: 70px;
            grid-template-columns: auto;
            .main-company{
                .box{
                    margin-left: 10px!important;
                    h1{
                        font-size: 50px;
                        span{
                            font-size: 40px;
                        }
                    }
                }
                
                
            }
            .main-img-animation{
                height: 50%!important;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }
    .about{
        .left-col,.right-col{
            flex-basis: 100%!important;
        }
        .left-col{
            .about-box{
                margin: 20px!important;
            }
        }
        .right-col{
            margin: 20px;
            padding-right: 0!important;
            img{
                height: 300px!important;
            }
        }
        
    }
}
}